<div id="<%= dom_id device %>">
  <p>
    <strong>Name:</strong>
    <%= device.name %>
  </p>

  <p>
    <strong>Purpose:</strong>
    <%= device.purpose %>
  </p>

  <p>
    <strong>Ip:</strong>
    <%= device.ip %>
  </p>

  <p>
    <strong>Mac:</strong>
    <%= device.mac %>
  </p>

</div>
